<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="w-100 d-flex justify-content-center hidden-lg">
                    <i class="rrss-resp mg-10 fab fa-facebook-f"></i>
                    <i class="rrss-resp mg-10 fab fa-twitter"></i>
                    <i class="rrss-resp mg-10 fab fa-youtube"></i>
                    <i class="rrss-resp mg-10 fab fa-instagram"></i>
                    <i class="rrss-resp mg-10 fab fa-linkedin"></i>
                </div>
                <hr class="hidden-lg">
                <div class="col-md-4 d-flex flex-column footer-item">
                    <h4>¿NECESITAS AYUDA?</h4>
                    <a>0264 123 4567</a>
                    <a>enquiry@geekhubstravels.com</a>
                    <a>Lun-Vie 9:30-19:00 <br> Sab 10:00-14:00</a>
                </div>
                <div class="col-md-4 d-flex flex-column footer-item">
                    <h4>INFORMACIÓN</h4>
                    <a>Quienes somos</a>
                    <a>Preguntas frecuentes</a>
                    <a>Politica de privacidad</a>
                    <a>Condiciones generales</a>
                    <a>Aviso legal</a>
                    <a>Contacto</a>
                    <a>Programa de puntos</a>
                </div>
                <div class="col-md-4 d-flex  flex-column footer-item">
                    <h4>SUSCRIBETE A LA NEWSLETTER</h4>
                    <div class="form-group pt1em">
                        <input class="form-control" type="email" class="form-control" id="inputEmailSus" placeholder="Correo electrónico">
                        <button type="submit" class="btn btn-custom btn-contact">Suscribirse</button>
                    </div>
                </div>
            </div>
            <hr class="linea">
            <div class="copyright">
                <div class="col-md-12">
                    <a class="textpeq">Geekhubs Travels &copy; 2018</a>
                </div>
            </div>
        </div>
    </div>
</footer>