<section>
    <div id="login" class="login-wrapper d-flex align-items-center">
        <div class="container container-destinos">
            <div class="row d-flex justify-content-center row-contact">
                <div class="col-8 message404">
                    <div class="contact-message">
                        <h3><i class="material-icons mi-center">error_outline</i> Error 404</h3>
                    </div>
                    <hr class="hr-center">
                    <h3>No se ha podido encontrar la página</h3>
                    <a href="/" id="login-submit" type="" class="mt-3 col-12 col-md-4 btn btn-outline-light">
                        Sácame de aquí
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>