html, body {
  height: 100%;
  min-height: 100%;
  position: relative;
  color: #717171;
}

header {
  height: 100%;
}

p {
  margin-bottom: 0px;
}

hr {
  border-top: 2px solid rgb(60, 165, 255);
  margin-left: 0px;
  width: 50%;
}
iframe {
  height: 350px;
}

.mg-10 {
  padding: 0.5em 0.5em;
}

.mb-25 {
  margin-bottom: -25px;
}

.pt1em {
  padding-top: 1em;
}
.navbar {
  z-index: 9;
}

.navbar-brand {
  color: white !important;
}

.nav-fixed{
  position: fixed;
  width: 100%;
  background-color: transparent !important;
}
.navbar-center
{
  left: auto;
  text-align: center;
  margin:0 auto;
}
.nav-link {
  color: rgba(255,255,255,0.8) !important;
}

.nav-link:hover {
  color: rgba(255,255,255,1) !important;
}

.nav-link.active {
  color: rgba(255,255,255,1) !important;
}

.navbar-rrss {
  color: white !important;
  text-align: right;
}
.menu-icon {
  color: white !important;
}



.fab {
  background-color: transparent;
  border-radius: 50%;
  height: 40px;
  margin: auto 3px;
  /*width: 40px;*/
  text-align: center;
}

.fab:hover {
  color: rgba(255,255,255,0.6);
}

/* Scroll */

.nav-scroll, .nav-scroll a, .nav-scroll i {
  background-color: white !important;
  color: #727272 !important;

}

.nav-scroll {
  -webkit-box-shadow: 0px 0px 34px 10px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 34px 10px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 34px 10px rgba(0, 0, 0, 0.21);
}

.menu-scroll a:hover {
  color: black!important;
}


/* Carousel */


.carousel-inner {
  height: 100%;
  display: flex;
}


.carousel-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.carousel {
  color: white !important;
}

.slider-01{
  background-color: #555555;
  background-image: url('../images/slide_01.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider-02{
  background-color: #555555;
  background-image: url('../images/16083767_ml.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Responsive - Carousel Destinos */

#carouselDestinos h1 {
  color: #717171;
}

.shadow{
  box-shadow: 0px 0px 48px -12px rgba(0,0,0,0.5);
  border: 4px solid white
}

.slider-03{
  background-color: #555555;
  background-image: url('../images/16083767_ml.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-inner-resp {
  height: auto;
}
.item1-top {
  background-image: url('../images/washignton.jpg');
  background-size: cover;
  background-position: center;
  height: 35vh;
  width:100%;
  padding: 1em;
}

.item2-top {
  background-image:  url('../images/irlanda.jpg');
  background-size: cover;
  background-position: center;
  height: 35vh;
  width:100%;
  padding: 1em;
}

.item3-top {
  background-image: url('../images/paris.jpg');
  background-size: cover;
  background-position: center;
  height: 35vh;
  width:100%;
  padding: 1em;
}

.item4-top {
  background-image: url('../images/pekin.jpg');
  background-size: cover;
  background-position: center;
  height: 35vh;
  width:100%;
  padding: 1em;
}

.item-bottom {
  height: 30%;
  width:100%;
  padding: 1em;
  background-color: white;
}

#carouselDestinos {
  margin: 30px 0px;
}

.mi-black {
  color: white;
  font-size: 3em;
}

.price-resp{
  font-size: 1.5em;
  color: #4e4e4e;
  border: white 2px solid;
  background-color: rgba(255,255,255,0.8);
  font-weight: 700;
  text-align: center;
  padding: 0.1em 0.5em;
}

.carousel-control-next, .carousel-control-prev{
  opacity: 1;
  top: unset;
  bottom: unset;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
  opacity: 1;
}

.prev-dest, .next-dest {
  /*margin: 0px 15px;*/
  background-color: rgba(0,0,0,0.6);
}

/* Destinos */

.input-destinos, .btn-destinos {
  height: 3em;
}

.input-destinos{
  margin-top: 20px;
}

.input-group-btn {
  width: 25%;
}

.btn-destinos {
  border-top-left-radius: 0rem!important;
  border-bottom-left-radius: 0rem!important;
  width: 100%;
}

.cabecera{
  background-color: #555555;
  background-image: url('../images/nathan-anderson-316188-unsplash.jpg');
  height: 100%;
  padding-top: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-title {
  text-align: center;
}

.header-title h1 {
  font-size: 30vw;
}
.header-title h6 {
  font-size: 2em;
}

.header-button {
  color: rgb(50,50,50);
  margin-left: auto;
  margin-right: auto;

}

.header-button h1{
  font-size: 1.5em;
  background-color: rgba(255,255,255,0.5);
  text-align: center !important;
  margin: 20px auto 0px auto;
  padding: 10px 30px 15px 30px;
  border: white 3px solid;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
}
.header-button h1:hover{
  background-color: rgba(255,255,255,1);
}

.wrapper {
  background-color: ghostwhite;
}
.container-destinos {
  padding: 20px 0px;
}

.destino {
  padding: 20px;
  margin: 10px 0px 0px 0px;
  height: 200px;
  border-color: #e6e6e6;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
}

.destinos-item {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}
.is-showing {
  opacity: 1;
  transform: translateY(0px);
}

.destino-irlanda {
  background-image: url('../images/irlanda.jpg');
  background-color: white;
  background-size: cover;
  background-position: center;
}
.destino-washington {
  background-image: url('../images/washignton.jpg');
  background-color: white;
  background-size: cover;
  background-position: center;
}

.destino-paris {
  background-image: url('../images/paris.jpg');
  background-color: white;
  background-size: cover;
  background-position: center;
}

.destino-pekin {
  background-image: url('../images/pekin.jpg');
  background-color: white;
  background-size: cover;
  background-position: center;
}

.destino-india {
  background-image: url('../images/india.jpg');
  background-color: white;
  background-size: cover;
  background-position: center;
}

.destino-cartagena {
  background-image: url('../images/cartagena.jpg');
  background-color: white;
  background-size: cover;
  background-position: center;
}

.descripcion-destino {
  background-color: white;
  /*min-height: 180px;*/
  padding: 20px;
  margin: 0px 0px 20px 0px;
  border-color: #e6e6e6;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  /*-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);*/
}

.descripcion-destino h1 {
  font-size: 1.5em;
}

.material-heart{
  color: #d6d6d6;
  font-size: 1.5em;
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  padding: 0.3em 0.3em;
  float: right;
  margin-right: 1px;
  margin-top: 1px;
  cursor: pointer;
}

.material-heart-red {
  color: #f53c3c;
  font-size: 1.6em;
  margin-right: 0px;
  margin-top: 0px;
}

.back-heart {
  background-color: white;
  padding: 0.3em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.material-heart2{
  transform: translateX(1px);
  color: #d6d6d6;
  font-size: 1.5em;
  display: inline-block;
  border-radius: 50%;
  float: right;
  margin-right: 1px;
  margin-top: 1px;
  cursor: pointer;
}

.material-heart-red2{
  transform: translateX(1px);
  /*color: #f53c3c;*/
  -webkit-animation: note 800ms ease-in-out forwards;
  animation: note 800ms ease-in-out forwards;
  transform-origin: center center;
}
@-webkit-keyframes note {

  20% {
    font-size: 2em;
    color: #f53c3c;
  }
  100% {
    color: #f53c3c;
  }
}

.fa-euro-sign {
  color: #d6d6d6;
  font-size: 1.5em;
  background-color: white;
  display: inline-block;
  padding: 0.5em 0.5em;
  float: left;
}

.price{
  font-size: 1.5em;
  color: white;
  border: white 2px solid;
  background-color: rgba(0,0,0,0.3);
  font-weight: 700;
  text-align: center;
  padding: 0.1em 0.5em;
}

.type-travell {
  color: #b5b5b5;
  border: #c3c2c2 1px solid;
  width: fit-content;
  padding: 0px 10px 0px 7px;
  border-radius: 5px;
  margin-bottom: 7px;
  font-size: 0.8em;
  font-weight: 500;
}

.type {
  font-size: 0.8em;
}

.row {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

/* About Section*/

.quienes-somos {
  padding: 15px 0px;
  background-color: #4199c4;
  background-size: cover;
  background-position: top center;
}

.nosotros {
  background-color: white;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 48px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 48px -12px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 48px -12px rgba(0,0,0,0.75);
}

.nosotros p {
  font-size: 0.8em;
}

.nosotros h1 {
  font-size: 2em;
}

/* Contact */

.row-contact {
  /*flex-direction: column-reverse !important;*/
}

.btn-contact {
  width: 50%;
}

.contact-message {
  padding-bottom: 0px;
  color: #717171;
}

.mi-center {
  transform: translateY(0.1em);
}

.btn-custom {
  background-color: rgb(60, 165, 255);
  border-color: rgb(60, 165, 255);
  color: #fff;
  margin-top: 10px;
  width: 100%;

}

.btn-custom:hover {
  background-color: rgb(56, 151, 235);
  border-color: rgb(56, 151, 235);
  color: #fff;
}

.form-contact {
  margin-bottom: 30px;
}

/* About Section*/

.about {
  height: 50vh;
  background-color: #aaafaa;
}

/* Scroll Button */

.totop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0, 0, 0, 0.53); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 18px; /* Increase font size */
  height: 55px;
  width: 55px;
  color: white!important;
}

/* about us & footer */

.aboutus .container{
  position: relative;
  color: white;
}
.aboutus .quien{
  position: absolute;
  top: 10%;
  left: 10%;
}
.aboutus .lema {
  position: absolute;
  top: 30%;
  margin-left: 10px;
  text-align: center;
}
.limpia{
  float: none;
}
.footer {
  /*background:#5d5d5d;*/
  color: rgba(255,255,255,0.4);
  text-align: center;
}

.footer h4 {
  /*background:#5d5d5d;*/
  color: rgba(255,255,255,0.6);
}

.footer {
  padding-top: 25px;
  background: #41474f; /* Old browsers */
  background: -moz-linear-gradient(45deg, #41474f 1%, #2a3746 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #41474f 1%,#2a3746 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #41474f 1%,#2a3746 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41474f', endColorstr='#2a3746',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow: inset 0 10px 10px -5px #0d1116;
}
.footer-item {
  padding-top: 25px;
}
footer hr {
  border-top: 1px solid rgba(255,255,255,0.4);
  margin-left: auto!important;
  width: 50%;
}
footer .textpeq {
  font-size: small;
  text-align: center;
}
aboutus ul {
  list-style: none;
}
footer ul {
  list-style: none !important;
  -webkit-padding-start: unset!important;
}


.copyright {
  padding-bottom: 20px;
  text-align: center;
  color: rgba(255,255,255,0.4);
}

.bloque1 {
  color: white;
  text-align: center;
  line-height: 30px;
  padding-bottom: 1px;
}

.bloque1 p{
  color: rgba(255,255,255,0.6);
}

.bloque2 {
  color: white;
  text-align: center;
  margin-top: 30px;
  padding: 0px 1em;
}
.bloque3 {
  margin-top: 20px;
  font-size: 30px;
  border: 10px;
  text-align: center;
  line-height: 10px;
  margin-bottom: 1px;
  padding-top: 48px;
  padding-bottom:30px;
}
.wrapper-footer{
  background-color:#0B0B3B;
  padding-top: 40px;
}

.btn-primary {
  margin-top: 0.5em;
  /*width: 50%;*/
  float: left;
}

/* Login Style */

.login-wrapper {
  background-image: url("../images/slide_01.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.form-login h3 {
  color: white;
}

.form-login {
  color: white;
  padding: 2em;
  background-color: rgba(0,0,0,0.5);
}

.form-custom {
  margin-top: -2em;
}

.btn-login {
  background-color: rgb(60, 165, 255);
  border-color: rgb(60, 165, 255);
  color: #fff;
}

.remember-password a{
  text-decoration: none;
  color: white;
}

.remember-password {
  text-align: right;
  padding-top: 2em;
  cursor: pointer;
}

.modal-body {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Admin */

.admin-destinos {
  background-color: rgba(0,0,0,0.8);
  padding: 2em;
  color: white;
}

.edit-td {
  margin-bottom: 2px;
}

.table td, .table th {
  vertical-align: middle;
}

.active-destinos {
  height: 1.2em;
  width: 1.2em;
  text-align: center;
}

.add-destino {
  border: 1px solid white;
  padding: 2em;
}

.table-container {
  max-height: 50vh;
  overflow: scroll;
}

.btn-secondary {
  margin-top: 0.5em;
}

.modal-content {
  color: black;
}

.modal-dialog {
  max-width: 50%;
}

.modal-body {
  padding-right: 2.5em;
  padding-left: 2.5em;
}


/* 404 Style */

.message404 {
  text-align: center;
  color: white;
  padding: 2em;
  background-color: rgba(0,0,0,0.5);
}
.message404 h3{
  color: white;
}

.hr-center {
  margin-left: auto;
}


/* Media Querys*/

@media (min-width: 576px) {

  iframe {
    height: 405px;
  }

  .header-title h1 {
    font-size: 10em;
  }
  .header-title h6 {
    font-size: 4em;
  }
  .header-button h1 {
    font-size: 2.5em;
  }

  .contact-message {
    margin-top: 0px;
  }

  .row-contact {
    /*max-height: 475px;*/
    flex-direction: row;
  }

  .form-contact {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .quienes-somos {
    height: 80vh;
    background-color: #aaafaa;
    background-image: url("../images/quienes-somos.jpg");
    background-size: auto;
    background-position: bottom center;
  }

  .nosotros {
    background-color: white;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 48px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 48px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 48px -12px rgba(0,0,0,0.75);
  }

  .nosotros p {
    font-size: 1em;
  }

  .nosotros h1 {
    font-size: 2.5em;
  }

  .hidden-lg{
    display: none !important;
  }

  .fa-facebook-f:hover{
    color: #3b5998!important;
    background-color: #fff;
    border-radius: 50%;
    height: 40px;
    margin: auto 3px;
    width: 40px;
    text-align: center;
  }
  .fa-twitter:hover, .fa-youtube:hover, .fa-instagram:hover, .fa-linkedin:hover{
    color: #00aced!important;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    padding: 0.5em 0.5em;
  }
  .fa-youtube:hover {
    color: red !important;
  }

  .fa-linkedin:hover {
    color: #0077B5 !important;
  }

  .fa-instagram:hover {
    color: #833AB4 !important;
  }

}

@media screen and (max-width: 576px) {
  .hidden-resp{
    display: none !important;
  }

  /*.fab {
      font-size: 1.4em;
  }*/

}

.form-control2
{
  border-color: red;
}

.form-control2:focus
{
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 22, 0.36);
}


